$background-hover : #757575;
$background-color : #101010;
$background-color-2 : #323232;
$border-color : #3b3b3b;
$text-color : #fff;


@mixin d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
    margin: 0;
}
a {
    text-decoration: none;
    &:hover {
        color: #2997ff;
        text-decoration: none;
    }
}
html {
    font-size: 14px;
    overflow-y: scroll;
}
body {
    font-weight: 400;
    font-family: Helvetica Neue,Helvetica,Arial,SF Pro Display,sans-serif;;
    color: #333;
    background-color: #3e3e3f;
}

.Container {
    max-width: 1200px;
    margin: 0 auto;
    // padding: 0;
}